@model SpaceBlackMarket.Models.SpaceTravelerModels.SpaceTravelerProfilePage

@{
    ViewBag.Title = "TravelerProfile";
}

<h2>TravelerProfile</h2>

<div>
    @{
        string welcomeName = Model.TravelerAlias;

    }
    @{ $"Welcome, {welcomeName}!"; }
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SpaceTravelerProfileId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpaceTravelerProfileId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TravelerAlias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TravelerAlias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Credits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Credits)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditProfile", new { id = Model.SpaceTravelerProfileId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
