<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space Black Market</title>
    <link rel="icon" href="~/icon.ico.png" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    @if (Request.IsAuthenticated)
    {
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/Content/Image/astronaut.png" id="astro" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Menu
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li class="dropdown-item"> @Html.ActionLink("Home", "Index", "Home")</li>
                                <li class="dropdown-item"> @Html.ActionLink("Outposts", "Index", "Outpost")</li>
                                <li class="dropdown-item"> @Html.ActionLink("Roles", "Index", "Roles")</li>
                                <li class="dropdown-item"> @Html.ActionLink("The Market", "Index", "Item")</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            @Html.Partial("_LoginPartial")
        </nav>

    }

    <br />

    <div class="container body-content">
        @RenderBody()
    </div>


    <div>
        <footer class="footer fixed-bottom">
            <p>&copy; @DateTime.Now.Year - This isn't a black market</p>
        </footer>
    </div>
    <style>



        #navbarDarkDropdownMenuLink {
            background-color: gray;
        }

        .dropdown-item {
            background-color: gray;
        }

        .dropdown-menu {
            padding: 10px;
            text-align: center;
            transition: transform 0.4s;
        }

        .navbar {
            background-image: url(/Content/Image/MilkyWayNav.jpg)
        }

        body {
            width: 100%;
            height: 100vh;
        }

        a {
            text-decoration: none;
            color: white;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

            a:hover {
                color: white;
            }

        .footer {
            position: sticky;
            text-align: center;
        }

        .nav-item {
            text-decoration: none !important;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: transparent;
        }


        #astro {
            height: 50px;
            width: 50px;
            transition: transform .4s;
            top: 0;
            position: relative;
        }

            #astro:hover {
                transform: scale(1.2);
            }
    </style>



    @RenderSection("scripts", required: false)

</body>
</html>
