@model IEnumerable<SpaceBlackMarket.Models.OutpostModels.OutpostList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OutpostId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OutpostName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GalaxyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SystemCoordinates)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DangerLevel)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OutpostId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OutpostName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GalaxyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SystemCoordinates)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DangerLevel)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.OutpostId }) |
                @Html.ActionLink("Details", "Details", new { id = item.OutpostId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.OutpostId })
            </td>
        </tr>
    }

</table>
