@model IEnumerable<SpaceBlackMarket.Models.OutpostModels.OutpostList>

@{
    ViewBag.Title = "Index";
}

<h4>Below is a list of all the currently known Outposts in the surrounding systems.</h4>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success" role="alert" id="alertPopup">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<style>
    #alertPopup{
        width: 200px;
    }
</style>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OutpostId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OutpostName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GalaxyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlanetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DangerLevel)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OutpostId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OutpostName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GalaxyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DangerLevel)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.OutpostId }) |
                @Html.ActionLink("Details", "Details", new { id = item.OutpostId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.OutpostId })
            </td>
        </tr>
    }

</table>


